$red-regular: #DE2028;
$red-dark: #9E161D;
$red-variant: #C41B24;

$green-regular: #51B65A;
$green-dark: #35753A;
$green-variant: #469C4D;

$orange-regular: #FF9724;
$orange-dark: #BF721B;
$orange-variant: #E68920;

$black: #000000;
$white: #FFFFFF;
$font: #2C2C2C;
$bg: #FEFEFE;

$shadow: 0 6px 20px rgba(0,0,0,0.2);